.titulo-destacado span {
    color: crimson;
}

.nosotros-iconos {
    margin: 3em 0;
}

.nosotros-iconos i {
    margin-right: 0.8em;
    padding: 0;
    color: #323232;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.nosotros-iconos li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nosotros-iconos i:hover {
    color: crimson;
    transition: all .6s;
}

.nosotros-iconos i.fb:hover {
    color: #1877f2;
    transition: all .6s;
}