.back-noso.col-md-7 {
    background-color: #82CD47;
    border-radius: 25px;
    
    
  }

  .titulo-noso span {
    color: black;
}

.font-p {
    font-size: 26px;
  }

  .img-noso.img-fluid {
    border-radius: 20px;
    border: 5px solid #82CD47;
  }

  .envio {
    color: black;
  }

  .nosotros-iconos {
    margin: 3em 0;
}

.nosotros-iconos i {
    margin-right: 0.8em;
    padding: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.nosotros-iconos li {
    margin: 0;
    padding: 0;
    display: inline-block;
}