#darkmode {
    background: url(/public/img/moon.webp) no-repeat center;
    width: 50px;
    height: 50px;
    border: none;
    filter: grayscale(100%);
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover, #darkmode:focus {
    filter: none;
    cursor: pointer;
}
