@import 'bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



body.dark {
  background-color: #606470;
  transition: all 0.5s ease;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50rem;
}
body.ligth {
  background-color: #FDFAF6;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50rem;
}

body {
  background-color: #FDFAF6;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50rem;
}

.modo-dark {
  background-color: #606470;
  transition: all 0.5s ease;

}

#label_toggle {
  position: absolute;
    top: 29px;
    right: 59px;
    font-size: 2rem;
    cursor: pointer;
}

#toggle {
  display: none;
}

.caarrito-po {
  position: relative;
    top: 1rem;
}

li {
    font-family: 'Roboto', sans-serif;
}
.titulo-noso span {
    color: #49a562;
}

.nosotros-iconos {
    margin: 3em 0;
}

.nosotros-iconos i {
    margin-right: 0.8em;
    padding: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.nosotros-iconos li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

/* Carrito */

.tarjetas img {
    width: 80px;
    margin: 5px 55px;
}


.color-carrrito {
  color: black;
}



.alta-m {
  margin-left: 10rem;
}

.fondo.bg-body-tertiary {
    background-color: #696464;
}


.margin-lr.nav-link {
    margin-left: 10rem;
    margin-right: 10rem;
}

.tamano.card-img-top {
    width: 200px;
    height: 200px;
    margin: 40px;
}

i {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
}

hr {
    height: 2px;
    width: 50%;
    background-color: #000000;
    margin: 0;
    margin-left: 38rem;
    margin-right: 38rem;
  }

  .img-logo {
    position: relative;
    left: 2rem;
    bottom: 2rem;
  }

  footer {
    position: absolute;
    bottom: 0;
  }

  .precio-.list-group-item {
    color: #47BF81;
    font-size: 25px;
  }

  .back-btn.btn {
    background-color: #83e79e;
    border: 2px solid #83e79e;
    font-family: 'Roboto', sans-serif;
  }

  .color-card.card {
    border-radius: 20px;
    border: 1px solid #83e79e;
  }

  .back-noso.col-7 {
    background-color: #82CD47;
    border-radius: 25px;
    
    
  }

  .img-noso.img-fluid {
    border-radius: 20px;
    border: 5px solid #82CD47;
  }

  .font-p {
    font-size: 26px;
  }

  .estilo-bo.nav-link {
    border-bottom: 3px solid ;
  }

  .ancho-con.card {
    width: 70rem;
    height: auto;
    margin-top: 10rem;
    border-radius: 20px;
    border: transparent;
    background-color: #82CD47;
    padding-left: 0;
  }

  .bag-card.card-body {
    background-color: #82CD47;
  }

  .bag-carrito.card-header.card-header {
    background-color: #FDFAF6;
  }

  .bag-li.list-group-item {
    background-color: #82CD47;
  }

  .btn-eliminar.btn {
    background-color: #ff0000;
    height: 2rem;
  }

  .form-style {
    margin: 15rem 15rem;
    border: 7px solid #82CD47;
    border-radius: 1rem;
    padding: 40px;
    box-shadow: -6px 8px 20px 0px;
}
  

  .btn-div {
    display: flex;
    justify-content: center;
  }

  .btn-co.btn-primary {
    background-color: #83e79e;
    border: 1px solid #83e79e;
    color: black;
  }

  .btn-border {
    border: 0;
  }

  .btn-submit.btn-co.btn-primary {
    background-color: #82CD47;
    border: 1px solid #82CD47;
    color: black;
    margin: 20px;
    padding: 1rem 7rem;
    font-size: 20px;
    border-radius: 10px;
  }

  .btn-co.btn-danger {
    background-color: #83e79e;
    border: 1px solid #83e79e;
    color: black;
  }
  

  .strong-pago {
    font-family: 'Roboto', sans-serif;
  }

  .envio {
    color: black;
  }

  .bag-pagos.tarjetas {
    background-color: #82CD47;
    padding-inline: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #00000000;
    border-radius: 10px;
  }

/*******navbar nuevo********/

.navbar-nav {
  border-bottom: 1px solid;
  height: 4rem;
  background-color: #82CD47;
}

.section-style {
  margin: 1rem 0 0 0;
}
.parrafo {
  display: block;
  height: auto;
  width: 50%;
  border: 2px solid ;
}


.card-prueba {
  overflow: hidden;
}

.img-logo- {
  width: 175px;
  height: auto;
}

.titulo {
  position: absolute;
  left: 1rem;
  
  z-index: 2;
  
}

.carrito- {
  color: black;
  font-size: 11px;
}

.carrito {
  position: absolute;
  top: 1rem;
  right: 3.5rem;
  z-index: 4;
}
@media screen and (min-width: 768px ){
  .carrito {
      right: 1.5rem;
  }
}

.toggle-menu {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  z-index: 3;
}

@media screen and (min-width: 768px ){
  .toggle-menu {
      display: none;
  }
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #82CD47;
  transition: transform 0.3s;
  transform: translateY(-100%);
  position: relative;
  z-index: 1;
}

.menu-show {
  transform: translateY(0);
}

@media screen and (min-width: 768px ){
  .menu {
      flex-direction: row;
      transform: translateY(0);
      justify-content: center;
      margin: 0;
      height: 4rem;
  } 
}

@media screen and (min-width: 768px ){
  .menu-item {
      padding: 0.5rem !important;
  
  }
}

.menu-item {
  padding: 0.5rem;

}

.menu-item2.menu-item {
  padding: 50px 0.5rem 0.5rem 0.5rem;

}

.menu-link {
color: black;
text-decoration: none;
text-transform: uppercase;
list-style: none;
}

.color {
  background-color: #D2DE32;
}


/******FOOTER******/

footer {
  position: absolute;
  bottom: 0;
  
}

.icon-color {
  color: black;
}

.style-fo {
  background-color: #82CD47;
  border-bottom: 1px solid;
  padding: 3rem 0 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.img-logo {
  position: relative;
  left: 2rem;
  bottom: 1rem;
}

.iconos-fo {
  background-color: #82CD47;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  
}

.footer-menu {
  position: absolute;
  right: 9rem;
  top: 1rem;
  font-size: 10px;
}

.footer-item {
  list-style: none;
}

.footer-ubi {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 10px;
}

@media screen and (min-width: 867px ){
  .footer-ubi {
      right: 12rem;
      font-size: 12px;
  }
  
}

@media screen and (min-width: 867px ){
  .footer-menu {
      right: 29rem;
      font-size: 12px;
  }
  
}

@media screen and (min-width: 867px ){
  .img-footer {
      width: 222px;
      height: auto;
  }
  
}

#width-card {
  width: 18rem;
}