@import 'bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body.dark {
  background-color: #606470;
  transition: all 0.5s ease;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50rem;
}
body.ligth {
  background-color: #FDFAF6;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50rem;
}

body {
  background-color: #FDFAF6;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50rem;
}
#label_toggle {
  position: absolute;
    top: 29px;
    right: 59px;
    font-size: 2rem;
    cursor: pointer;
}

#toggle {
  display: none;
}

li {
    font-family: 'Roboto', sans-serif;
}